Bin/
Output/
Questions/
Scripts/__pycache__
Scripts/log
Templates/
Source/Fortran/Hamiltonian/*.dep
Source/Fortran/Hamiltonian/*.mod
Statistics/
Scripts/copy
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
